:root{
    --color-backgorund:#2AC2A3;
    --color-main-theme:#EE5776;
    --color-main-theme-alpha:#ee577500;
    --color-text-white:#F4F4F4;
    --color-text-black:#343434;
    --color-light-gray: #dfdfdf;
    --font-text: Raleway;
    --content-margin: 1.5em;
}
    :focus{        
    outline: none;
    }




*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

p, h1{
    margin: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h1{
    font: 800 2rem Playfair Display;
    margin-bottom: 3rem;
}
h2{
    font: 800 1.5rem Playfair Display;
}

p{
    font: 500 1rem var(--font-text);
    line-height: 1.5rem;
}

