:root{
    --color-backgorund:#2AC2A3;
    --color-main-theme:#EE5776;
    --color-main-theme-alpha:#ee577500;
    --color-text-white:#F4F4F4;
    --color-text-black:#343434;
    --color-light-gray: #dfdfdf;
}


*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

